# top-most EditorConfig file
root = true

# 4 space indentation
[*.js]
indent_style = tab
indent_size = 2
# Indentation override for all JS under lib directory
[src/**.js]
indent_style = space
indent_size = 2